/* *, *:before, *:after {
  box-sizing: border-box;
} */
.form-container {
  padding: 1rem;
  margin: 2rem auto;
  background-color: #fcfcfc;
  border: 4px solid #e6e6e6;
  width: 50%;
}
/* HTML5 Boilerplate accessible hidden styles */
.promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 3px;
}

.promoted-checkbox {
  width: 21px;
  display: inline;
}

.promoted-checkbox input:checked + label > svg {
  height: 21px;
  animation: draw-checkbox ease-in-out 0s forwards;
  display: inline;
}
.promoted-checkbox label:active::after {
  background-color: #e6e6e6;
  display: inline;
}
.promoted-checkbox label {
  color: green;
  line-height: 21px;
  cursor: pointer;
  position: relative;
  display: inline;
}
.promoted-checkbox label:after {
  content: '';
  height: 21px;
  width: 21px;
  margin-right: 1rem;
  float: left;
  border: 2px solid;
  border-color: gray;
  border-radius: 50%;
  transition: 0.15s all ease-out;
  display: inline;
}
.promoted-checkbox svg {
  stroke: #53764e;
  stroke-width: 2px;
  height: 0;
  width: 12px;
  position: absolute;
  left: -33px;
  top: -2px;
  stroke-dasharray: 33;
  display: inline;
}
@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 0;
 }
  100% {
    stroke-dashoffset: 0;
 }
}
